{% extends "base.html" %}

{% block title %}Information - Satellite Pre & Primary School{% endblock %}

{% block content %}
<section id="home" class="home">
    <h5>WELCOME</h5>
    <h6>welcome to satellite pre and primary school.</h6>
    <P1>welcome to satellite pre and primary school, a friendly and caring learning environment where every child is guided to grow with confidence ,displine,and knowledge.</P1><br>
   <p2>We provide quality education from nursery to primary level ,helping learners to bulding strong foundation in academics, creativity,and good behaviour.</p2><br>
   <p3>Our dedicated teachers ensure that each pupil is supported to discover their talents and raech their full potential.</p3><br>
   <p4>At satellite school,we believe in education for better future.shaping young minds to become responsible and successfull individuals.</p4><br>
   <p5>Join us today and be part of school that truly cares for your child'sfuture.</p5>
</section>
{% endblock %}

{% block extra_css %}
<style>
/* Tabs look for Information page only */
nav .tab{display:inline-block;border-bottom:3px solid transparent;padding:.5rem 1rem;margin:.2rem .3rem;background:transparent}
nav .tab:hover{border-bottom-color:orange}
nav .tab.active{border-bottom-color:orange;font-weight:bold}
</style>
{% endblock %}