{% extends "base.html" %}

{% block title %}About - Satellite Pre & Primary School{% endblock %}

{% block content %}
<section id="about" class="about">
    <h4>ABOUT US</h4>
    <p>About satellite pre and primary school </p>
    <P>Satellite pre and primary school is a modern English medium school found in Geita,dedicated to nurtuting young minds through quality education,discipline and creativity.We believe that every child has the potential to successed when given the right support and environment.</P>
    <p>Our school provides a safe and friendly atmosphere where pupils are encouraged to explore,ask questions and grow both academically and socially.With committed and qualified teachers,we focus on building strong foundations that prepare our learners for future challenges. </p>
    <p>At satellite,not only we teach but also we inspire .We are shaping  the leaders of tomorrow through character,knowldge and excellence.</p><br>
    <p>Want to learn more visit our school or contact us today</p>
</section>
{% endblock %}